@charset "ISO-8859-1";

.icon50px iron-icon {
	font-size: 50px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.lblVertical {
	position: relative;
	top: -45%;
}